.language-chooser-btn {
    background: none;
    border: none;
    display: inline-block;
}

.language-container {
    height: 85%;
}

.language-header {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 25px;
}

.card {
    display: inline-block;
}
