.profile-main {
    overflow-y: scroll;
    max-height: 85vh;

    padding: 85px 20px 85px 35px;
}

.neomorphism {
    border-radius: 50px;

    box-shadow: 10px 10px 21px #000000,
    -10px -10px 21px #3d3c3c;
}

.profile-header-avatar {
    margin-left: 55px;
}

.profile-header-avatar-img {
    max-width: 250px;
    border-radius: 50%;
    max-height: 250px;
    margin-top: 35px;
    margin-left: 35px;
}

.carousel {
    border-radius: 50px;
}

.carousel-inner {
    margin-top: 75px;
    border-radius: 50px;
}

.profile-create-post {
    padding: 25px;
    margin-top: 75px;
}

.profile-create-post-text-area{
    margin-top: 45px;
}

.profile-main-posts{
    margin-top: 95px;
    padding: 55px;
}

.profile-post{
    margin-top: 55px;
    padding: 35px;
}

.profile-post-header,
.profile-post-text-area{
    margin-bottom: 45px;
}

.profile-post-footer-icons-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.profile-post-footer-icons,
.profile-post-footer-icons:hover,
.profile-post-footer-icons:focus{
    background: none;
    border: none;
}

.profile-post-footer-time-creation{
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
}

.profile-main::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.profile-main::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #9f1b1b;
    background-color: #aaa;
    border-radius: 7px;
}

.profile-main::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

.profile-main::-webkit-scrollbar-track {
    border-width: 0;
}

.profile-main::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
    background-color: #eee;
}

@media (max-width: 800px) {
    .profile-header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-header-avatar {
        margin-left: 0;
    }

    .profile-header-avatar-img {
        margin-top: 0;
        margin-left: 0;
    }

    .profile-header-description-txt,
    .profile-create-post-welcome-header{
        text-indent: 0;
    }
}
